body{
    background-color: aqua;
    font-family: 'Anek Latin', sans-serif; 
}
.sound{
    background-color: red;
    color: lightskyblue;
}
.note{
    color: lightgreen;
    letter-spacing: 2px;
}
button{
    margin-top: 20px;
    width: 200px;
    letter-spacing: 3px;
    font-size: 100px;
}
.copy{
    position: fixed;
    bottom: 0;
    background-color: aliceblue;
    color: black;
    font-size: 20px;
    width: 100%;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px gray;
}